@model Books.Application.DTO.Book.BookDTO
<div class="container">
 <div class="row col-md-2"> 
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#StudentModel">
            Open modal
        </button>
 </div>
</div>
<div class="container">
    <div class="card shadow-lg rounded-3">
        <div class="card-body">
            <table id="listbooks" class="table table-striped table-row-bordered ">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>BookName</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>ISBN</th>
                        <th>Author</th>
                        <th>PublishDate</th>
                        <th>Photo</th>
                        <th>PDF</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- The Add Modal -->
<div class="modal fade" id="StudentModel" tabindex="-1" aria-labelledby="StudentModel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add Book</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="studentForm" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden"/>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="ISBN" class="form-label"></label>
                            <input asp-for="ISBN" id="ISBN" class="form-control" placeholder="Enter ISBN" />
                            <span asp-validation-for="ISBN" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="BookName" class="form-label"></label>
                            <input asp-for="BookName" class="form-control" placeholder="Enter Book Name" />
                            <span asp-validation-for="BookName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Title" class="form-label"></label>
                            <input asp-for="Title" class="form-control" placeholder="Enter Title" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Description" class="form-label"></label>
                            <input asp-for="Description" class="form-control" placeholder="Enter Description" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Author" class="form-label"></label>
                            <input asp-for="Author" class="form-control" placeholder="Enter Author" />
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="PublishDate" class="form-label"></label>
                            <input asp-for="PublishDate" class="form-control" type="date" />
                            <span asp-validation-for="PublishDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>


                     <div class="form-group">
                        <label asp-for="PdfFile" class="control-label"></label>
                        <input asp-for="PdfFile" class="form-control" />
                        <span asp-validation-for="PdfFile" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 <!-- The Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editModalLabel">Edit Book</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editfrm" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="row mb-3">
                        <input asp-for="Id" type="hidden" />
                        <div class="col-md-6">
                            <label asp-for="ISBN" class="form-label"></label>
                            <input asp-for="ISBN" id="ISBN" class="form-control" placeholder="Enter ISBN" />
                            <span asp-validation-for="ISBN" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="BookName" class="form-label">Book Name</label>
                            <input asp-for="BookName" class="form-control" placeholder="Enter Book Name" />
                            <span asp-validation-for="BookName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Title" class="form-label">Title</label>
                            <input asp-for="Title" class="form-control" placeholder="Enter Title" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Description" class="form-label">Description</label>
                            <input asp-for="Description" class="form-control" placeholder="Enter Description" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Author" class="form-label">Author</label>
                            <input asp-for="Author" class="form-control" placeholder="Enter Author" />
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="PublishDate" class="form-label">Publish Date</label>
                            <input asp-for="PublishDate" class="form-control" type="date" />
                            <span asp-validation-for="PublishDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="PdfFile" class="control-label"></label>
                        <input asp-for="PdfFile" class="form-control" />
                        <span asp-validation-for="PdfFile" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for displaying the image -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img id="modalImage" src="" alt="Book Image" style="max-width: 100%; height: auto;" />
            </div>
        </div>
    </div>
</div>




@section myscript {
    <script>

        $(document).ready(function () {
            $("#listbooks").DataTable({
                "ajax": {
                    "url": "/Book/GetBooks",
                    "type": "GET",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "bookName" },
                    { "data": "title" },
                    { "data": "description" },
                    { "data": "isbn" },
                    { "data": "author" },
                    { "data": "publishDate" },
                    {
                        "data": "pdfPath",
                        "render": function (data) {
                            
                            if (data) {
                                return `
                                          <a href="${data}" target="_blank" class="btn btn-secondary btn-sm">
                                       <i class="bi bi-eye"></i> <i class="bi bi-file-earmark-pdf"></i></a>`;
                            }
                            else {
                                return 'No PDF';
                            }
                        }
                    },
                    {
                        "data": "photoPath",
                        "render": function (data, type, row) {
                            return data ? `
                                <img src="${data}"
                                     style="max-width: 80px; height: auto; border: 1px solid #ddd; padding: 5px;" alt="Book Image" class="thumbnail" data-full="${data}" />` : 'No Image';
                        }
                    },
                    {
                        "data": null,
                        "className": "text-center",
                        "render": function (data, type, row) {
                            return `
                                <a class="btn btn-primary" onclick="loadBook(${row.id})" data-bs-toggle="modal" data-bs-target="#editModal">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-danger" onclick="deleteConfirm(${row.id})">
                                    <i class="bi bi-trash"></i>
                                </a>`;
                        }
                    }
                ],
                "language": {
                    "empty": "No Record"
                }
            });


    // Event listener for image click
    $('#listbooks tbody').on('click', '.thumbnail', function ()
    {
        var fullImageSrc = $(this).data('full'); // Get the full image path
        $('#modalImage').attr('src', fullImageSrc); // Set the src of the modal image
        $('#imageModal').modal('show'); // Show the modal
    });
});


        $('#studentForm').on('submit', function (e) {
            e.preventDefault();
            const formData = new FormData(this);
            // Get the ISBN value and normalize it
            const isbn = $('#ISBN').val().trim().toLowerCase();
            const existingData = $("#listbooks").DataTable().rows().data().toArray();

            // Check for duplicates based on ISBN
            const isDuplicate = existingData.some(row => {
                return row.isbn.trim().toLowerCase() === isbn; // Ensure the property name is correct
            });

            if (isDuplicate) {
                notification("Error", "This ISBN already exists! Please enter a unique ISBN.", "error");
                return; // Exit the function to prevent the AJAX call
            }

            // Proceed with AJAX call if no duplicates
            $.ajax({
                url: "Book/AddBooks",
                type: $(this).attr('method'), // Ensure this is set correctly in your form
                data: formData,
                contentType: false, // Important for file uploads
                processData: false,
                dataType: "json",
                success: function (response) {
                    $('#StudentModel').modal('hide');
                    $('#studentForm').trigger("reset");
                    $('#listbooks').DataTable().ajax.reload();
                    notification("Success", "Record has been added successfully!", "success");
                },
                error: function (xhr) {
                    notification("Error", "An error has occurred, please try again!", "error");
                }
            });
        });




        $('#editfrm').on('submit', function (e) {
            e.preventDefault();
            var formData = new FormData(this); // Initialize FormData
            $.ajax({
                url: 'Book/UpdateBook',
                type: 'POST',
                data: formData,
                contentType: false, // Important for file uploads
                processData: false, // Important for file uploads
                dataType: 'json',
                success: function (response) 
                {
                    $('#editModal').modal('hide'); // Hide the modal
                    $("#listbooks").DataTable().ajax.reload(); // Reload the DataTable
                    notification("success", "Record has been updated successfully!", "success");
                },
                error: function (xhr, status, error) {
                    notification("error", "An error has occurred. Please try again!", "error");
                }
            });
        });


         





 
function loadBook(id) {
    $.ajax({
        url: "Book/GetBook",
        type: "GET",
        data: { id: id },
        dataType: "json",
        success: function (response) {
            if (response.data) {
                for (var propName in response.data) {
                    if (response.data.hasOwnProperty(propName)) {
                        var value = response.data[propName];
                        // Adjust for ISBN property name
                        var capitalizedPropName = propName === 'isbn' ? 'ISBN' : propName.charAt(0).toUpperCase() + propName.slice(1);
                        var inputField = $('#editfrm input[id="' + capitalizedPropName + '"]');
                        inputField.val(value);
                    }
                }
            }
        },
        error: function (xhr, status, error) {
            notification("error", "An Error Has Occurred Please Try Again!", "error");
        }
    });
}







        function deleteConfirm(id) {
            Swal.fire({
                title:"Are You Sure",
                text:"Are you sure you want to delete this record..?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText:"Yes",
                cancelButtonText:"NO."
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: "Book/DeletBooks",
                        type: 'POST',
                        data: { id: id },
                        success: function () {
                            $("#listbooks").DataTable().ajax.reload();
                            Swal.fire({
                                title:"Deleted",
                                text:"Your record has been deleted successfully.2!",
                                icon: 'success',
                                timer: 1000,
                                showConfirmButton: true
                            });
                        },
                        error: function () {
                            Swal.fire({
                                title:"Not Deleted",
                                text:"Your record was not deleted!",
                                icon: 'error',
                                showConfirmButton: true
                            });
                        }
                    });
                }
            })

        }
    </script>
}
@Html.Partial("_ValidationScriptsPartial")


